{%extends 'base.html' %} {%block content %}


<!--Alerts-->
<section id="dashboard" class="py-4 pink">
  <div class="container">
      <div class="container">
          <h2 calss="text-center">Favorites</h2>
              <div class="table-responsive mb-5">
                <table class="table">
              
                  <tbody>
                    {%for favor_product in object.products.all%}
                      <tr >
                    
                        <td><a style="color:black"
                          style="text-decoration: none;"
                          href="{{favor_product.product.get_absolute_url}}"
                        >
                          
                          <img id="main-photo"src="{{favor_product.product.photo_main.url}}" alt="" class="pop"></a>
                        </td>
                        <td><a style="color:black"
                          style="text-decoration: none;"
                          href="{{favor_product.product.get_absolute_url}}"
                        >
                          {{favor_product.product.title}}</a
                        > </td>
                        <td>${{favor_product.product.price}}</td>
                        <td>{{favor_product.quantity}}</td>
                        
                        <td>
                          <a style ='color:#E0D5E9'
                            href="{% url 'shop:remove-from-favorites' favor_product.product.slug %}"
                            ><i class="fas fa-trash-alt"></i
                          ></a>
                        </td>
                      </tr>
                  
              
                    {%empty%}
            <tr><h5>Favorite Empty </h5></tr>

          {%endfor%}
            </tbody>
           </table>
        </div>
      </div>
    </div>
      
  </div>
</section>
{%endblock%}
