{%extends 'base.html'%}{%load static%} {%block content%}


    <!-- Showcase -->

    <section id="object" class="py-4">
      <div class="container">
        <a href="{% url 'shop:products' %}" class="btn btn-light mb-4">Back</a>
        <div class="row">
          <div class="col">
            <!-- Home Main Image -->
            <img id="main-photo"src="{{object.photo_main.url}}" alt="" class=" img-fluid mb-3">
            <!-- Thumbnails -->
            <div class="row mb-5 thumbs">
              
              {%if object.photo_1%}
              <div class="col-md-2">
                <a href="{{ object.photo_1.url}}" data-lightbox="home-images">
                  <img src="{{ object.photo_1.url}}" alt="" class="img-fluid">
                </a>
              </div>
              {%endif%}
              {%if object.photo_2%}
              <div class="col-md-2">
                <a href="{{ object.photo_2.url}}" data-lightbox="home-images">
                  <img src="{{ object.photo_2.url}}" alt="" class="img-fluid">
                </a>
              </div>
              {%endif%}
              {%if object.photo_3%}
              <div class="col-md-2">
                <a href="{{ object.photo_3.url}}" data-lightbox="home-images">
                  <img src="{{ object.photo_3.url}}" alt="" class="img-fluid">
                </a>
              </div>
              {%endif%}
              {%if object.photo_4%}
              <div class="col-md-2">
                <a href="{{ object.photo_4.url}}" data-lightbox="home-images">
                  <img src="{{ object.photo_4.url}}" alt="" class="img-fluid">
                </a>
              </div>
              {%endif%}
              {%if object.photo_5%}
              <div class="col-md-2">
                <a href="{{ object.photo_5.url}}" data-lightbox="home-images">
                  <img src="{{ object.photo_5.url}}" alt="" class="img-fluid">
                </a>
              </div>
              {%endif%}
              {%if object.photo_6%}
              <div class="col-md-2">
                <a href="{{ object.photo_6.url}}" data-lightbox="home-images">
                  <img src="{{ object.photo_6.url}}" alt="" class="img-fluid">
                </a>
              </div>
              {%endif%}
            </div>
            </div>

            <!-- Fields -->
            <div class="col">
            <div class="row ">
              <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a id = "purple" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About this brand</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">How to Use</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Ingredients</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Pat or massage onto face and neck. Use AM and PM daily.</div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Water (Aqua), Ethylhexyl Palmitate, Glycerin, Niacinamide, Cetearyl Alcohol, 1,2-Hexanediol, Dicaprylyl Carbonate, Butylene Glycol, Glyceryl Stearate, Sorbitan Stearate, Camellia Sinensis Leaf Extract, Juniperus Communis Fruit Extract, Melia Azadirachta Flower Extract, Melia Azadirachta Leaf Extract, Moringa Oleifera Seed Extract, Nelumbo Nucifera Flower Extract, Panthenol, Tocopherol, Adenosine, Allantoin, Betaine, Caramel, Chlorphenesin, Eriobotrya Japonica Leaf Extract, Glyceryl Olivate, Cetearyl Olivate, Hydrogenated Rapeseed Alcohol, Propanediol, Pantolactone, Hydroxyethyl Acrylate/Sodium Acryloyldimethyl </div>
                </div>
                </div>
            </div>
            
          </div>
          <div class="row mb-5">
            <div class="col-md-12">
              <h5>{{object.title}}</h5> </h5>
              <p>
                !Product description!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia recusandae esse reiciendis officia omnis non rerum dicta
              cupiditate nostrum molestias deserunt aut minus inventore animi atque, consequuntur ad fugit. Possimus culpa
              blanditiis repellendus ipsa similique ullam, natus error dolor harum.
              </p>
              <p>Size: {{object.size}} ml</p>
              <p>Price: ${{object.price}}</p>
              <!-- <form class="form-inline my-2 my-lg-0">
                <input type= 'hidden'>
                <button id = "navbutton" class="btn  my-2 my-sm-0" type="submit">Add to Cart <i class="fas fa-shopping-cart"></i></button>
              </form> -->

              <a href  = "{{object.get_add_to_cart_url }}" id = "navbutton" class="btn  my-2 my-sm-0" >Add to Cart <i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
        <div ></div>
        </div>
        {%endblock content%}
