{%extends 'base.html'%} {%block content%}
<h2>Skincare</h2>
<div class="container">
  <div class="card-columns">
    {%for product in products%}

    <div class="card pop col text-center">
      <img
        id="card-photo"
        src="{{product.photo_main.url}} "
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <a
          href="{{product.get_add_to_cart_url }}"
          id="navbutton"
          class="btn my-2 my-sm-0"
          >Add to Cart <i class="fas fa-shopping-cart"></i
        ></a>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock content%}
