{%extends 'base.html'%} {%block content%}
<h2>Skincare</h2>
<div class="container">
  <div class="card-columns">
    {%for product in products%}

    <div class="card h-100">
      <img
        id="card-photo"
        src="{{product.photo_main.url}} "
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock content%}
