{%load static%}{%load cart_templates_tags%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'Logo2.png' %}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@562&family=Gotu&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gotu&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
     <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
      integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
      integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="{% static 'main.css' now 'U' %}" />
    <link rel="stylesheet" href="{% static 'lightbox/css/lightbox.css' %}" />
    
    <title>Moments Beauty</title>
  </head>

  <body>

   <!-- <section id="top-bar" class="p-3">
    <div class="container">
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
    </div>
  </section> -->

    <!-- Navbar -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{%url 'shop:home' %}">M & B</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li {% if '/makeup' in request.path %} class="nav-item active"  {%else%} class="nav-item" {%endif%}>
            <a class="nav-link" href="{%url 'shop:makeup' %}"
              >Cosmetics <span class="sr-only">(current)</span></a
            >
          </li>

          <li {% if '/products' in request.path %} class="nav-item active"  {%else%} class="nav-item " {%endif%}>
            <a class="nav-link" href="{%url 'shop:products' %}">Skin Care</a>
          </li>
          <li {% if '/hair' in request.path %} class="nav-item active"  {%else%} class="nav-item " {%endif%}>
            <a class="nav-link" href="{%url 'shop:hair' %}">Hair</a>
          </li>
        </ul>
        <form action="{% url 'shop:search' %}" class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            name="keywords" 
            placeholder="Search"
            aria-label="Search"
          />
          <button id="navbutton" class="btn my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
        <ul class="navbar-nav ml-auto">
          {%if user.is_authenticated %}
          <li  class="nav-item active mr-3"class="nav-item mr-3" >
            <a class="nav-link" href="{% url 'shop:dashboard' %}"> Welcome
              {{user.username}} </a>
          </li>
          <li class="nav-item mr-3">
            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>
  
          {%else%}
          <li {% if 'register' in request.path %} class="nav-item active mr-3" {%else%} class="nav-item mr-3" {%endif%}>
            <a class="nav-link" href="{% url 'register' %}">
              <i class="fas fa-user-plus"></i> Register</a>
          </li>
          <li {% if 'login' in request.path %} class="nav-item active mr-3" {%else%} class="nav-item mr-3" {%endif%}>
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i>
  
              Login</a>
          </li>
          {%endif%}
        
       
        <ul class="navbar-nav nav-flex-icons">
          
          <li class="nav-item  ">
            <a href="{% url 'shop:order-summary' %}" class="nav-link waves-effect">
              <span class="badge badge-danger z-depth-1 mr-1"> {{request.user| cart_product_count}}</span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          </ul>
      </div>
    </nav>
    <div id="message">
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show " role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
          </div>
          {% endfor %}
      {% endif %}
      </div>
    <section id="showcase">
      <div class="container text-center">
        <div class="home-search p-5">
          <div class=>
            <h1 class="display-4 mb-4">
              Moments Beauty
            </h1>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Showcase -->
    <div class="main-page">
    {% block content %}{%endblock%}
  </div>
    <!-- Footer -->
    
    <footer id="main-footer" class="">
      Copyright &copy;
      <span class="year"></span> Moments Beauty
    </footer>
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'lightbox/js/lightbox.js' %}"></script>
  </body>
</html>
